version: "3.8"

# Definindo um "template" para evitar repetição de fuso horário
x-common-tz: &common-tz
  environment:
    - TZ=America/Sao_Paulo
  volumes:
    - /etc/localtime:/etc/localtime:ro
    - /etc/timezone:/etc/timezone:ro

services:
  email-service:
    container_name: email-service
    image: ghcr.io/${GITHUB_USER_OR_ORG}/ethoscodespace:notificacao-api-latest
    restart: always
    ports:
      - "30003:30003"
    <<: *common-tz # Aplica fuso e volumes
    environment:
      - TZ=America/Sao_Paulo # Garante a variável
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=30003
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASS=${MAIL_PASS}
      - MAIL_FROM=${MAIL_FROM}
    networks:
      - backend-network
    dns:
      - 8.8.8.8
      - 1.1.1.1

  ponto-api:
    container_name: ponto-api
    image: ghcr.io/${GITHUB_USER_OR_ORG}/ethoscodespace:ethos-relogio-de-ponto-api-latest
    restart: always
    ports:
      - "30006:30006"
    <<: *common-tz
    environment:
      - TZ=America/Sao_Paulo
      - APP_ENTRY_FILE=main.api.js
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=30006
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
        # Configurações do Relógio
      - RELOGIO_ENDPOINTS=${RELOGIO_ENDPOINTS}
      - RELOGIO_SENHA=${RELOGIO_SENHA}
      - RELOGIO_LOGIN=${RELOGIO_LOGIN}
      # RabbitMQ
      - RABBITHOST=${RABBITHOST}
      - RABBITPORT=${RABBITPORT}
      - RABBITUSER=${RABBITUSER}
      - RABBITPASSWORD=${RABBITPASSWORD}
      - RABBITMQ_URL=${RABBITMQ_URL}

      - APP_MODE=PROD
        # Protheus DB
      - PROTHEUSSID=${PROTHEUSSID}
      - PROTHEUSUSER=${PROTHEUSUSER}
      - PROTHEUSPASSWORD=${PROTHEUSPASSWORD}
      - PROTHEUSHOST=${PROTHEUSHOST}
        # Oracle/Logix DB
      - ORACLEHOST=${ORACLEHOST}
      - ORACLEUSER=${ORACLEUSER}
      - ORACLEPASSWORD=${ORACLEPASSWORD}
      - ORACLESID=${ORACLESID}

      - HOURS_PER_DAY=${HOURS_PER_DAY}
        # Auth
      - SECRET=${SECRET}
      - EXPIREHOURS=${EXPIREHOURS}
      # Se sua app usa Mongo, aponte para o nome do container que conectamos:
      - MONGO_URL=mongodb://mongodb:27017/seu_banco
    networks:
      - backend-network

  ponto-worker:
    container_name: ponto-worker
    image: ghcr.io/${GITHUB_USER_OR_ORG}/ethoscodespace:ethos-relogio-de-ponto-worker-latest
    restart: always
    <<: *common-tz
    environment:
      - TZ=America/Sao_Paulo
      - APP_ENTRY_FILE=main.worker.js
      - NODE_ENV=production
      - PORT=30006
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
      #
      # Configurações do Relógio
      - RELOGIO_ENDPOINTS=${RELOGIO_ENDPOINTS}
      - RELOGIO_SENHA=${RELOGIO_SENHA}
      - RELOGIO_LOGIN=${RELOGIO_LOGIN}

      # RabbitMQ
      - RABBITHOST=${RABBITHOST}
      - RABBITPORT=${RABBITPORT}
      - RABBITUSER=${RABBITUSER}
      - RABBITPASSWORD=${RABBITPASSWORD}
      - RABBITMQ_URL=${RABBITMQ_URL}

      # App Mode
      - APP_MODE=PROD

      # Protheus DB
      - PROTHEUSSID=${PROTHEUSSID}
      - PROTHEUSUSER=${PROTHEUSUSER}
      - PROTHEUSPASSWORD=${PROTHEUSPASSWORD}
      - PROTHEUSHOST=${PROTHEUSHOST}

      # Oracle/Logix DB
      - ORACLEHOST=${ORACLEHOST}
      - ORACLEUSER=${ORACLEUSER}
      - ORACLEPASSWORD=${ORACLEPASSWORD}
      - ORACLESID=${ORACLESID}

      # Outras Configurações
      - HOURS_PER_DAY=${HOURS_PER_DAY}

      # Auth
      - SECRET=${SECRET}
      - EXPIREHOURS=${EXPIREHOURS}
    networks:
      - backend-network

  ponto-worker-2:
    container_name: ponto-worker-2 # Corrigido nome duplicado
    image: ghcr.io/${GITHUB_USER_OR_ORG}/ethoscodespace:ethos-relogio-de-ponto-worker-latest
    restart: always
    <<: *common-tz
    environment:
      - TZ=America/Sao_Paulo
      - APP_ENTRY_FILE=main.worker.js
      - NODE_ENV=production
      - PORT=30006
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
      #
      # Configurações do Relógio
      - RELOGIO_ENDPOINTS=${RELOGIO_ENDPOINTS}
      - RELOGIO_SENHA=${RELOGIO_SENHA}
      - RELOGIO_LOGIN=${RELOGIO_LOGIN}

      # RabbitMQ
      - RABBITHOST=${RABBITHOST}
      - RABBITPORT=${RABBITPORT}
      - RABBITUSER=${RABBITUSER}
      - RABBITPASSWORD=${RABBITPASSWORD}
      - RABBITMQ_URL=${RABBITMQ_URL}

      # App Mode
      - APP_MODE=PROD

      # Protheus DB
      - PROTHEUSSID=${PROTHEUSSID}
      - PROTHEUSUSER=${PROTHEUSUSER}
      - PROTHEUSPASSWORD=${PROTHEUSPASSWORD}
      - PROTHEUSHOST=${PROTHEUSHOST}

      # Oracle/Logix DB
      - ORACLEHOST=${ORACLEHOST}
      - ORACLEUSER=${ORACLEUSER}
      - ORACLEPASSWORD=${ORACLEPASSWORD}
      - ORACLESID=${ORACLESID}

      # Outras Configurações
      - HOURS_PER_DAY=${HOURS_PER_DAY}

      # Auth
      - SECRET=${SECRET}
      - EXPIREHOURS=${EXPIREHOURS}
    networks:
      - backend-network

  ponto-master:
    container_name: ponto-master
    image: ghcr.io/${GITHUB_USER_OR_ORG}/ethoscodespace:ethos-relogio-de-ponto-master-latest
    restart: always
    <<: *common-tz
    environment:
      - APP_ENTRY_FILE=main.master.js
      - NODE_ENV=production
      - PORT=30006 # Necessário para validação
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      
      # Configurações do Relógio
      - RELOGIO_ENDPOINTS=${RELOGIO_ENDPOINTS}
      - RELOGIO_SENHA=${RELOGIO_SENHA}
      - RELOGIO_LOGIN=${RELOGIO_LOGIN}
      
      # RabbitMQ
      - RABBITHOST=${RABBITHOST}
      - RABBITPORT=${RABBITPORT}
      - RABBITUSER=${RABBITUSER}
      - RABBITPASSWORD=${RABBITPASSWORD}
      - RABBITMQ_URL=${RABBITMQ_URL}
      
      # App Mode
      - APP_MODE=PROD
      
      # Protheus DB
      - PROTHEUSSID=${PROTHEUSSID}
      - PROTHEUSUSER=${PROTHEUSUSER}
      - PROTHEUSPASSWORD=${PROTHEUSPASSWORD}
      - PROTHEUSHOST=${PROTHEUSHOST}
      
      # Oracle/Logix DB
      - ORACLEHOST=${ORACLEHOST}
      - ORACLEUSER=${ORACLEUSER}
      - ORACLEPASSWORD=${ORACLEPASSWORD}
      - ORACLESID=${ORACLESID}
      
      # Outras Configurações
      - HOURS_PER_DAY=${HOURS_PER_DAY}
      
      # Auth
      - SECRET=${SECRET}
      - EXPIREHOURS=${EXPIREHOURS}
    networks:
      - backend-network
    dns:
      - 192.168.99.110
      - 192.168.99.106

networks:
  backend-network:
    name: 124-stack_backend-network # Forçando o nome para bater com o comando 'docker network connect' que você usou
    driver: bridge
